{% extends 'base.html' %}

{% block title %}Crear Usuario{% endblock %}
{% block customCSS %}<link rel="stylesheet" href="{{url_for('static', filename='css/addusuario.css')}}">{% endblock %}


{% block body %}
        <header>
            <h1>Panel de Administración</h1> 
            <a href="/usuarios" class="back-button">
                Volver</a> 
        </header>
        <div class="container">
            
            <h2>Registro de Usuario</h2>
            <form action="{{ url_for('formAddUsuario') }}" method="POST" id="registroForm" enctype="multipart/form-data">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" required>
              </div>
        
              <div class="form-group">
                <label for="correo">Correo</label>
                <input type="email" id="correo" name="correo" required>
              </div>
        
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>
              </div>
        
              <div class="form-group">
                <label for="rol">ID Rol</label>
                <select id="id_rol" name="id_rol" required>
                    {% for rol in roles %}
                        <option value="{{ rol.id }}">{{ rol.nombre_rol }}</option>
                    {% endfor %}
                </select>
              </div>
        
              <div class="form-group">
                <label for="fechaRegistro">Fecha de Registro</label>
                <input type="text" id="fechaRegistro" name="fechaRegistro" readonly>
              </div>
        
              <div class="form-group">
                <label for="estado">Estado</label>
                <select id="estado" name="estado">
                  <option value="1">Activo</option>
                  <option value="0">Inactivo</option>
                </select>
              </div>
        
              <div class="form-group">
                <label for="imagen">Cargar Imagen</label>
                <input type="file" id="foto" name="foto" accept="image/*">
              </div>
        
              <button type="submit">Registrar</button>
            </form>
          </div>
        
          <script>
            // Establece la fecha de registro automáticamente al cargar la página
            document.getElementById('fechaRegistro').value = new Date().toISOString().split('T')[0];
          </script>


{% endblock %}